mixin preview_test
	div.preview.preview_test.preview_standart
		span.preview__num 05
		div.preview__background.preview__background_test(style="background-image:url(images/card_4.jpg)")
		div.preview__text-block
			a.preview__heading(href="#") Угадайте материал с трех свойств
			p.preview__description Какими свойствами обладает графен? Как получают углеродные нанотрубки? Каким образом создают новые наноматериалы?

			div.preview__bottom
				a.preview__button(href="#") Пройти тест
				div.preview__author
					span.preview__author-img
					span.preview__author-name Артем Оганов
				div.preview__statistics
					span.preview__views 6173
					span.preview__shares 175
				div.preview__links
					a.preview__link.preview__link_fb(href="#")
					a.preview__link.preview__link_vk(href="#")
					a.preview__link.preview__link_tw(href="#")
					a.preview__link.preview__link_ok(href="#")
		span.preview__category Тест
		span.preview__category-icon.preview__category-icon_test