mixin preview_timeline
	div.preview.preview_timeline.preview_no-picture
		span.preview__num 06
		div.preview__background.preview__background_timeline
		div.preview__text-block
			a.preview__heading(href="#") Хронология развития индустрии
			p.preview__description Какими свойствами обладает графен? Как получают углеродные нанотрубки? Каким образом создают новые наноматериалы?
			div.preview_timeline-content
				div.preview_timeline-event
					div.preview_timeline-date 25 фев. 2017
					span.preview_timeline-circle
					div.preview_timeline-text-block
						p.preview_timeline-text В Центробанке рассказали, что рассчитывают предложить меры по регулированию криптовалют на российском рынке к середине 2017 года.
						p.preview_timeline-bottom
							span.preview_timeline-bottom-bold Курс биткоина:
							span.preview_timeline-usual $1066

				div.preview_timeline-event
					div.preview_timeline-date 11 апр 2017
					span.preview_timeline-circle
					div.preview_timeline-text-block
						p.preview_timeline-text Замглавы Минфина Алексей Моисеев заявил о планах властей легализовать в России биткоин к 2018 году. До этого он считал нужным приравнять криптовалюты к иностранным валютам.
						p.preview_timeline-bottom
							span.preview_timeline-bottom-bold Курс биткоина:
							span.preview_timeline-usual $1231

				div.preview_timeline-event
					div.preview_timeline-date 25 мая 2017
					span.preview_timeline-circle
					div.preview_timeline-text-block
						p.preview_timeline-text Центробанк признал, что криптовалюты «по факту имеют хождение на территории России» и предложил обложить их налогом как цифровой товар. Тогда же регулятор назвал виртуальные деньги вероятной причиной нестабильности, которая может возникнуть на финансовых рынках.
						p.preview_timeline-bottom
							span.preview_timeline-bottom-bold Курс биткоина:
							span.preview_timeline-usual $1066

				div.preview_timeline-content-shadow

			div.preview__bottom
				a.preview__button(href="#") Смотреть полностью
				div.preview__author
					span.preview__author-img(style="background-image:url(images/author.jpg)")
					span.preview__author-name Артем Оганов
				div.preview__statistics
					span.preview__views 6173
					span.preview__shares 175
				div.preview__links
					a.preview__link.preview__link_fb(href="#")
					a.preview__link.preview__link_vk(href="#")
					a.preview__link.preview__link_tw(href="#")
					a.preview__link.preview__link_ok(href="#")
		span.preview__category Таймлайн
		span.preview__category-icon.preview__category-icon_timeline