mixin preview_faq()
	div.preview.preview_faq.preview_standart
		span.preview__num 01
		div.preview__background.preview__background_faq(style="background-image:url(images/card_1.jpg)")
		div.preview__text-block
			a.preview__heading(href="#") Материалы из мира низкой размерности
			p.preview__description Какими свойствами обладает графен? Как получают углеродные нанотрубки? Каким образом создают новые наноматериалы?

			div.preview__bottom
				a.preview__button(href="#") Читать материал
				div.preview__author
					span.preview__author-img(style="background-image:url(images/author.jpg)")
					span.preview__author-name Артем Оганов
				div.preview__statistics
					span.preview__views 6173
					span.preview__shares 175
				div.preview__links
					a.preview__link.preview__link_fb(href="#")
					a.preview__link.preview__link_vk(href="#")
					a.preview__link.preview__link_tw(href="#")
					a.preview__link.preview__link_ok(href="#")
		span.preview__category Faq
		span.preview__category-icon.preview__category-icon_faq