mixin quote
	div.quote
		p.quote__text Рывок, который поначалу был связан с изобретением новых экспериментальных методик, а сейчас продолжается благодаря существованию и изобретению новых теоретических методов — в частности, методов предсказания кристаллической структуры.
		p.quote__author Михаил Берштейн