mixin course_description
	div.course_description
		div.main-container
			div.course_description__wrap
				div.course_description__partner
					p.course_description__partner-text Партнер курса
					img.course_description__partner-logo(src="images/skoltech.png", alt="Skoltech")
				div.course_description__text-block.hide
					div.course_description__about О курсе
					div.course_description__text Дизайн новых материалов — это революция в материаловедении, в физике и в химии. До недавнего времени материалы открывались методом проб и ошибок или с помощью каких-то счастливых происшествий. Надеяться на такие способы легкомысленно, если мы хотим открывать материалы, которые обладают нужными для нас свойствами, и открывать их систематически и быстро. В этой связи интересна возможность прогнозирования новых материалов на компьютере. Данный курс будет посвящен именно этому. Основной акцент уделяется методам предсказания с помощью компьютера различных типов материалов для практических применений, а также новых типов химических веществ и вещества планетных недр. Все эти темы в совокупности опираются на одно и то же — на революционные методы прогнозирования состояния вещества только с помощью компьютера.<br/>Задача курса<br/>Раскрыть понятия социального и эмоционального интеллекта и объяснить актуальность и важность этого аспекта развития.
						div.course_description__text-shadow
					button.course_description__button Показать полностью