mixin cover
	div.cover(style="background-image: url(images/cover.jpg);")
		div.main-container
			p.cover__spec-project Спецпроект
			p.cover__spec-project-title Мастерская будущего
			span.cover__course Курс
			h1.cover__title Вычислительные системы в науке и технике
			p.cover__description 10 лекций кибернетика Михаила Берштейна о современных исследовательских подходах в химии и материаловедении
			div.cover__bottom-block
				div.cover__socials
					p.cover__socials-text Поделиться с друзьями
					div.cover__socials-block
						a.cover__socials-button.cover__socials-button_fb(href="#")
						a.cover__socials-button.cover__socials-button_vk(href="#")
						a.cover__socials-button.cover__socials-button_tw(href="#")
						a.cover__socials-button.cover__socials-button_lj(href="#")
						a.cover__socials-button.cover__socials-button_ok(href="#")
						a.cover__socials-button.cover__socials-button_mail(href="#")
				p.cover__materials Курс из 10 материалов
				span.cover__views 6173
				span.cover__shares 175