mixin preview_interview
	div.preview.preview_interview.preview_big-picture
		span.preview__num 08
		div.preview__background.preview__background_interview(style="background-image:url(images/card_6.jpg)")
		div.preview__text-block
			a.preview__heading(href="#") Прямая речь: Светлана Бурлак
			div.preview__statistics.preview__statistics_md-dn
				span.preview__views 6173
				span.preview__shares 175
			p.preview__description Какими свойствами обладает графен? Как получают углеродные нанотрубки? Каким образом создают новые наноматериалы?

			div.preview__bottom
				a.preview__button(href="#") Прочесть интервью
				div.preview__author
					span.preview__author-img
					span.preview__author-name
				div.preview__statistics
					span.preview__views 6173
					span.preview__shares 175
				div.preview__links
					a.preview__link.preview__link_fb(href="#")
					a.preview__link.preview__link_vk(href="#")
					a.preview__link.preview__link_tw(href="#")
					a.preview__link.preview__link_ok(href="#")
		span.preview__category Интервью
		span.preview__category-icon.preview__category-icon_interview