mixin preview_tezaurus
	div.preview.preview_tezaurus.preview_no-picture
		span.preview__num 04
		div.preview__background
		div.preview__text-block
			a.preview__heading(href="#") Базовые понятия материаловедения
			p.preview__description Какими свойствами обладает графен? Как получают углеродные нанотрубки? Каким образом создают новые наноматериалы?
			div.preview_tezaurus-content
				dt.preview_tezaurus-dt Цифровая экономика
				dd.preview_tezaurus-dd Цифровая экономика — экономика, в которой киберфизические системы являются важнейшим производительным фактором. В значительной степени в настоящее время она уже функционирует, и ведущие страны вкладывают в ее развитие большие суммы.
				dt.preview_tezaurus-dt Киберфизические системы
				dd.preview_tezaurus-dd Это системы, в которых виртуальная и физическая части мира интегрированы в единый производственный комплекс. Являются основой наиболее эффективного производства.
				dt.preview_tezaurus-dt Цифровая экономика
				dd.preview_tezaurus-dd Цифровое, или виртуальное, основано на эффективном использовании киберфизических систем в процессах создания новых продуктов. Суть цифрового проектирования — это симбиоз цифровых моделей, которые определяют компоненты изделия и представления о системе с физической, материальной реализацией этих моделей. Это также и виртуальное представление о среде, в которой это изделие должно функционировать, использоваться. При этом формируются программы экспериментов для валидации моделей процессов и объектов, необходимые для того, чтобы используемые при проектировании модели наиболее полно отражали все существенные функции и качества вашего продукта и обеспечивали его успех на рынке.
				div.preview_tezaurus-content-shadow

			div.preview__bottom
				a.preview__button(href="#") Читать полностью
				div.preview__author
					span.preview__author-img(style="background-image:url(images/author.jpg)")
					span.preview__author-name Артем Оганов
				div.preview__statistics
					span.preview__views 6173
					span.preview__shares 175
				div.preview__links
					a.preview__link.preview__link_fb(href="#")
					a.preview__link.preview__link_vk(href="#")
					a.preview__link.preview__link_tw(href="#")
					a.preview__link.preview__link_ok(href="#")
		span.preview__category Тезаурус
		span.preview__category-icon.preview__category-icon_tezaurus