include ./../components/index.pug

- var menuItems = [{block: "Введение",list: []},{block: "Тематический блок 1",list: [{num: "1",type: "Текст",name: "Материалы из мира низкой размерности"},{num: "2",type: "Текст",name: "Материалы из мира низкой размерности"},{num: "3",type: "Видео",name: "Нейротехнологии"},{num: "4",type: "Тезаурус",name: "Базовые понятия материаловедения"}]},{block: "Тематический блок 2",list: [{num: "5",type: "Тест",name: "Угадайте материал с трех свойств"},{num: "6",type: "Таймлайн",name: "Хронология развития индустрии"},{num: "7",type: "Список",name: "5 книг о game studies"},{num: "8",type: "Интервью",name: "Прямая речь: Светлана Бурлак"}]},{block: "Партнер курса",list: []}]

doctype html
html.ua(lang="ru")
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')

	body
		+header
		+cover
		div.mobile-menu
			+menu(menuItems)
		+course_description

		div.main-content
			div.main-container
				div.main-row
					div.left
						div.theme_block
							h2.theme_block__heading Тематический блок

							+preview_faq
							+preview_text
							+subscribe
							+preview_lecture
							+preview_tezaurus
						
						div.theme_block
							h2.theme_block__heading Тематический блок

							+preview_test
							+quote
							+preview_timeline
							+preview_list
							+preview_interview
						
						div.theme_block.theme_block_sm-dn
							+subscribe

					div.right
						+menu(menuItems)

			+reference
		+footer