include header/header.pug
include footer/footer.pug
include cover/cover.pug
include course_description/course_description.pug
include subscribe/subscribe.pug
include quote/quote.pug
include reference/reference.pug
include menu/menu.pug
include preview_faq/preview_faq.pug
include preview_text/preview_text.pug
include preview_lecture/preview_lecture.pug
include preview_tezaurus/preview_tezaurus.pug
include preview_test/preview_test.pug
include preview_timeline/preview_timeline.pug
include preview_list/preview_list.pug
include preview_interview/preview_interview.pug