mixin preview_lecture()
	div.preview.preview_lecture.preview_standart
		span.preview__num 03
		div.preview__background.preview__background_lecture(style="background-image:url(images/card_3.jpg)")
		div.preview__text-block
			a.preview__heading(href="#") Нейротехнологии
			p.preview__description Нейробиолог Василий Ключарев о поведении нейронов, перспективах развития биотехнологий и понимании работы мозга.

			div.preview__bottom
				a.preview__button(href="#") Читать расшифровку
				div.preview__author
					span.preview__author-img(style="background-image:url(images/author.jpg)")
					span.preview__author-name Артем Оганов
				div.preview__statistics
					span.preview__views 6173
					span.preview__shares 175
				div.preview__links
					a.preview__link.preview__link_fb(href="#")
					a.preview__link.preview__link_vk(href="#")
					a.preview__link.preview__link_tw(href="#")
					a.preview__link.preview__link_ok(href="#")
		span.preview__category Лекция
		span.preview__category-icon.preview__category-icon_lecture