mixin preview_list
	div.preview.preview_list.preview_standart
		span.preview__num 07
		div.preview__background.preview__background_list(style="background-image:url(images/card_5.jpg)")
		div.preview__text-block
			a.preview__heading(href="#") 5 книг о game studies
			p.preview__description Какими свойствами обладает графен? Как получают углеродные нанотрубки? Каким образом создают новые наноматериалы?

			div.preview__bottom
				a.preview__button(href="#") Посмотреть список
				div.preview__author
					span.preview__author-img
					span.preview__author-name
				div.preview__statistics
					span.preview__views 6173
					span.preview__shares 175
				div.preview__links
					a.preview__link.preview__link_fb(href="#")
					a.preview__link.preview__link_vk(href="#")
					a.preview__link.preview__link_tw(href="#")
					a.preview__link.preview__link_ok(href="#")
		span.preview__category Списки
		span.preview__category-icon.preview__category-icon_list