.reference
	font-family 'Source Sans Pro', sans-serif
	color #000
	background #fff
	
	&__wrap
		display flex
		padding 27px 0
		align-items flex-start
		@media only screen and (max-width 767px)
			padding 27px 20px
			flex-wrap wrap
	
	&__logo
		margin-right 27px
		width 185px
		@media only screen and (max-width 767px)
			margin-right 0
			margin-bottom 20px
		
	&__text-block
		max-width 850px
		
	&__title
		margin-bottom 5px
		font-weight 600
		font-size 1.28rem
		@media only screen and (max-width 767px)
			max-width 70%
			line-height 1.25
		
	&__text
		font-size 1.14rem
		color #333333