mixin reference
	div.reference
		div.main-container
			div.reference__wrap
				img.reference__logo(src="images/skoltech.png")
				div.reference__text-block
					p.reference__title Этот курс подготовлен при поддержке Сколтеха
					p.reference__text Миссия Института будет заключаться в обучении студентов, создании знаний и продвижении технологий для решения ключевых научных, технологических и инновационных задач как в России, так и во всём мире. Сколтех станет моделью нового российского университета, построенной на основании следующих принципов и целей.